<ul class="social-media-list">
  {%- if site.github_username -%}
  <li><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">GitHub</a></li>
  {%- endif -%}
  {%- for mst in site.mastodon -%}
    {%- if mst.username and mst.instance -%}
    <li><a href="https://{{ mst.instance | cgi_escape | escape }}/@{{ mst.username }}" rel="me">Mastodon</a></li>
    {%- endif -%}
  {%- endfor -%}
  {%- if site.twitter_username -%}
  <li><a href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">Twitter</a></li>
  {%- endif -%}
</ul>
