---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">About</h1>
    </header>
    <div class="post-content">
      <p>I'm a software engineer who has an MS in mathematics from UIUC (2009). I primarily program in Python. I'm the creator of the concurrency testing library <a href="https://lucaswiman.github.io/frontrun/">frontrun</a>. Relevant links:</p>
      <ul>
        <li><a href="https://github.com/lucaswiman">Github</a> I'm currently a maintainer on the python PEG parsing library <a href="https://github.com/erikrose/parsimonious/pulls?q=is%3Apr+is%3Amerged+author%3Alucaswiman">Parsimonious</a>.</li>
        <li><a href="https://twitter.com/lucaswiman">Twitter</a></li>
        <li><a href="https://stackoverflow.com/users/303931/lucas-wiman">Stackoverflow</a></li>
      </ul>
    </div>
  </article>
</BaseLayout>
